<div class="col-lg-5 col-md-6 mb-5">
    <h3 class="text-primary mb-4">Newsletter</h3>
    <p>Subscribe to be amongts the first to recieve trending offers and latest news from Us</p>
    <div class="w-100">
        <div class="input-group">
            <form action="/newsletter" class="input-group" method="post">
                <input type="text" class="form-control border-light" style="padding: 30px;" name="email" placeholder="Your Email Address">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary px-4">Sign Up</button>
            </div>
            </form>
        </div>
    </div>
</div>