       <!-- Topbar Start -->
   <div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>+1 872 760 4332</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>D2DCouries15@gmail.com</small>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
   </div>
<!-- Topbar End -->
 <!-- Navbar Start -->
 <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="/" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5  text-light" ><i class="fa fa-truck mr-2"></i> D2DCouriers</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="/" class="nav-item nav-link text-light bg-light ">Home</a>
                <a href="/about" class="nav-item nav-link text-dark bg-light  active">About</a>
                <a href="/service" class="nav-item nav-link text-light bg-light">Service</a>
                <a href="/price" class="nav-item nav-link text-light bg-light">Price</a>
                
            </div>
                <a href="/contact" class="nav-item nav-link text-light bg-light">Support</a>
            </div>
            <a href="/login" class="btn btn-prime py-2 px-4 d-none d-lg-block">Login</a>
        </div>
    </nav>
</div>
<!-- Navbar End --> 
    
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">About</h1>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="img/about.jpg" alt="">
                    <div class="bg-primary text-dark text-center p-4">
                        <h3 class="m-0">7+ Years Experience</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
                    <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1>
                    <p class="mb-4"> LOGISTICS is a relatively new but Leading International Freight Forwarders based in the US(patnering with giants like FedEx), Turning back to the past we have extreme satisfaction; enriched by hundreds of satisfied customers who motivated us to look towards this bright impending future. We focus to quench the needs of our customers in the field of Freight Forwarding, Import and Export, and Supply Chain Management. As a  Freight Forwarding Company with a high profile of experience, we have great pleasure to offer more choice to the ever growing Global Freight, Transport and Warehouse Industry. 



                        Service being our Motto and satisfaction is all that customers need, we could not keep away from establishing ourselves as a Leading Forwarder in this global market. To your perusal, we would like to add a superlative clause to our simple motto ‘Service & Satisfaction’ and ensuring "A LIFE LONG PARTNERSHIP BASED ON TRUST."</p>
                  
                </div>
            </div>
        </div>
    </div> 
    <!-- About End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Get In Touch</h3>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+1 872 760 4332</p>
                        <p><i class="fa fa-envelope mr-2"></i>D2DCouries15@gmail.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                  
                </div>
            </div>
            <%- include('./partials/newsletter')%>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#">D2DCouriers</a>. All Rights Reserved. 
				
				
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="/privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="/terms">Terms</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- Footer End -->