

   <!-- Topbar Start -->
   <div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>+1 872 760 4332</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>D2DCouries15@gmail.com</small>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="/index" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5  text-light" ><i class="fa fa-truck mr-2"></i> D2DCouriers</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="/index" class="nav-item nav-link text-dark bg-light active ">Home</a>
                <a href="/about" class="nav-item nav-link text-light bg-light">About</a>
                <a href="/service" class="nav-item nav-link text-light bg-light">Service</a>
                <a href="/price" class="nav-item nav-link text-light bg-light">Price</a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-light bg-light" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="blog.html" class="dropdown-item">Blog Grid</a>
                        <a href="single.html" class="dropdown-item">Blog Detail</a>
                    </div>
                </div> -->
                <a href="/contact" class="nav-item nav-link text-light bg-light">Support</a>
            </div>
            <a href="" class="btn btn-prime py-2 px-4 d-none d-lg-block">Get A Quote</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->

   




    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <h2 class="text-primary text-uppercase font-weight-bold text-center">Privacy Policy</h2>
           
              
                
                <h6>1.0 Purpose of ...... Privacy Policy</6>
                <p>...... Logistics Inc. (“......”) is a trucking and logistics organization operating across
                North America. D2DCouriers collects certain information that you provide to us as well as
                information on how you use our websites, the App, the Software, Applications, and other
                products and services.
                This privacy policy (the “Privacy Policy”) sets out our policies and procedures surrounding the
                collection and handling of any such information. This Privacy Policy does not apply to any third
                party site or service linked to our website or recommended or referred by our website or by our
                staff, subject to the terms of the Privacy Policy.
                By accessing, using or contributing to the website, the App, the Software, or receiving or
                providing products or services to/from D2DCouriers (“Your Use”) you agree to the terms of this
                Privacy Policy and consent to the collection, use and disclosure of your personal information as
                set out herein. If you do not agree to these terms, immediately end and undo Your Use.
                This privacy policy has been developed to comply with Canada’s Personal Information
                Protection and Electronic Documents Act ("PIPEDA"). PIPEDA sets out rules for the collection,
                use and disclosure of Personal information in the course of commercial activity as defined in the
                Act.</p>
                <ul><h5>1.1 The Ten Principles of PIPEDA Summarized</h5>
                The ten principles of PIPEDA that form the basis of this Privacy Policy are as follows:
                <li> Accountability: organizations are accountable for the Personal information they collect,
                use, retain and disclose in the course of their commercial activities, including, but not
                limited to, the appointment of a Chief Privacy Officer;</li>
                <li> Identifying Purposes: organizations are to explain the purposes for which the information
                <li> being used at the time of collection and can only be used for those purposes;</li>
                <li> Consent: organizations must obtain an Individual’s express or implied consent when
                they collect, use, or disclose the individual’s Personal information;
                <li> Limiting Collection: the collection of Personal information must be limited to only the
                amount and type that is reasonably necessary for the identified purposes;</li>
                <li> Limiting Use, Disclosure and Retention: Personal information must be used for only the
                identified purposes, and must not be disclosed to third parties unless the Individual
                consents to the alternative use or disclosure;</li>
                <li> Accuracy: organizations are required to keep Personal information in active files
                accurate and up-to-date;</li>
                <li>  Safeguards: organizations are to use physical, organizational, and technological
                safeguards to protect Personal information from unauthorized access or disclosure.
                Company Privacy Policy</li>
                
                <li> Openness: organizations must inform their clients and train their employees about their
                privacy policies and procedures;
                <li>  Individual Access: an individual has a right to access Personal information held by an
                organization and to challenge its accuracy if need be; and</li>
                <li> Provide Recourse: organizations are to inform clients and employees of how to bring a
                request for access, or complaint, to the Chief Privacy Officer, and respond promptly to a
                request or complaint by the individual.</li>
                </ul>
                <p>This Privacy Policy applies to the company’s Directors, members, employees and contracted
                employees and third parties D2DCouriers works with in relation to the purposes herein. 1.2 Definitions
                "Personal information" means any information about an identifiable individual. It includes,
                without limitation, information relating to identity, nationality, age, gender, address, telephone
                number, e-mail address, Social Insurance Number, date of birth, marital status, education,
                employment health history, assets, liabilities, payment records, credit records, loan records,
                income and information relating to financial transactions as well as certain personal opinions or
                views of an Individual. Personal information does not include the name, title, business address
                or telephone number of a person or employee of an organization.
                "Business information" means business name, business address, business telephone number,
                name(s) of owner(s), officer(s) and director(s), job titles, business registration numbers (GST,
                RST, source deductions), financial status and information (such as credit card information, bank
                account information, and the like). Although Business information is not subject to PIPEDA, confidentiality of Business information will be treated with the same security measures by
                D2DCouriers staff, members and Board members, as is required for individual Personal
                information under PIPEDA.
                "Client" means the business that is applying for or has been approved for a loan, (including sole
                proprietorships and individuals carrying on business in a partnership);
                "Individual" means the client’s owner(s) or shareholders, co-signors, and/or any guarantor
                associated with a client.
                “App” means the mobile app for D2DCouriers drivers.
                "Application" means the application form or related forms completed by the individual(s) to
                request financing for the client through the D2DCouriers, and or its divisions.
                "Database" means the list of names, addresses and telephone numbers of clients and
                individuals held by D2DCouriers in the forms of, but not limited to, computer files, paper files, and
                files on computer hard-drives and that may be at least partly in the Software and/or the App.
                "File" means the information collected in the course of processing an application, as well as
                information collected/updated to maintain /service the account.
                Company Privacy Policy
                
                "Express consent" means the individual signs the application, or other forms containing
                Personal information, authorizing D2DCouriers, and/or its divisions to collect, use, and disclose
                the individual's Personal information for the purposes set out in the application and/or forms.
                "Implied Consent" means the organization may assume that the individual consents to the
                information being used, retained and disclosed for the original purposes, unless notified by the
                individual.
                “Software” means the software D2DCouriers uses to operate its business.
                "Third Party" means a person or company that provides services to D2DCouriers in support of the
                programs, benefits, and other services offered by D2DCouriers, such as other lenders, credit
                bureaus, persons with whom the individual or client does business, but does not include any
                Government office or department to whom D2DCouriers reports in the delivery of such programs,
                benefits or services.
                “you” means the person reading this privacy policy, and any organization that you work for in
                relation to the purpose for which you are reading this Privacy Policy.
                2.0 Purposes of Collecting Personal Information
                We may collect Personal information and Business information that is relevant for the purposes
                of providing services to our clients and service providers, securing our websites, meeting our
                legal obligations, promoting, advertising and marketing our services and, in some cases, the
                products and services of our clients and researching and developing new products, services
                and techniques to improve our services, business or websites. Specifically, and without limiting the generality of the preceding paragraph, we collect, use and
                disclose Personal information and Business information for the following purposes: to identify
                you, to determine your suitability (including credit worthiness and background checks) as a
                supplier or customer of D2DCouriers (including as a driver, carrier, or customer), to understand
                your needs and eligibility for products and services, to provide you such products and services,
                to protect you and us from error and fraud, to recommend particular products and services to
                meet your needs, to provide and get updates on ongoing products and service, to respond to
                regulatory and governmental requests (such as Industry Canada) and to comply with legal and
                regulatory requirements. Such purposes may include operation of the App and Software, which
                may assist in accomplishing the purposes. Personal information and Business information may be transferred, viewed, processed and/or
                stored in the US for the purposes described above. Legal requirements in the US applicable to
                us or our subsidiaries, affiliates, agents, intermediaries and other third parties operating on their
                or our behalf may include an obligation to disclose Personal information to government
                authorities in foreign countries.
                Personal information
                3.0 Consent
                An individual’s express, written consent will be obtained before or at the time of collecting
                Personal information. The purposes for the collection, use or disclosure of the Personal
                information will be provided to the individual at the time of seeking his or her consent. Once
                consent is obtained from the individual to use his or her information for those purposes,
                Company Privacy Policy
                5
                ...... has the individual's implied consent to collect or receive any supplementary
                information that is necessary to fulfil the same purposes. Express consent will also be obtained
                if, or when, a new use is identified.
                By signing the application and/or other forms, accepting to use the App and/or Software, obtaining products or services from D2DCouriers, or providing products or services to D2DCouriers, you grant implied consent to obtain Personal information or Business information for the
                purposes set out in this Privacy Policy, including to obtain and/or to verify information from third
                parties such as banks, credit bureaus, other lenders, and insurance companies in the process of
                assessing the eligibility of an individual, supplier, or customer. Implied consent is also granted
                by the individual to permit D2DCouriers to report or otherwise disclose information to Industry
                Canada.
                An individual can choose not to provide some or all of the Personal information at any time, but
                if D2DCouriers is unable to collect sufficient information to validate the request for financing, or
                other purpose for which the Personal information is being requested, the individual's Application
                for such financing may be turned down or the other purpose may be denied. A client or an individual can withdraw consent to D2DCouriers ’s use of Personal information at
                any time prior to the application being approved, by making such request in writing. Once a
                loan has been approved, an individual cannot withdraw consent authorizing D2DCouriers to use
                and disclose the Personal information for the purposes set out in this Privacy Policy. Express
                consent will be obtained from the individual prior to disclosing the individual's Personal
                information to other lenders, credit insurers and credit bureaus.
                This Privacy Policy does not cover statistical data from which the identity of individuals cannot
                be determined. D2DCouriers retains the right to use and disclose statistical data as it determines
                appropriate.
                4.0 Limiting Collection
                Personal information collected will be limited to the purposes set out in this Privacy Policy,
                D2DCouriers applications, the App, the Software, and/or other forms.
                5.0 Limiting Use, Disclosure and Retention
                In general, we may use and/or disclose your Personal information only in relation to the
                purposes identified herein. In connection with such identified purposes, we may employ third
                parties to process Personal information or perform tasks on our behalf, including website, App,
                and Software licensors and hosting partners and other parties who assist us in operating our
                website, App and Software, conducting our business, or serving our clients. We seek
                assurances to ensure personal information is similarly protected by these third parties in
                accordance with all applicable privacy and data security laws.
                5.1 Use of Personal Information
                Personal information will be used for only those purposes to which the individual has consented
                with the following exceptions, as permitted under PIPEDA:
                D2DCouriers will use Personal information without the individual's consent, where:
                Company Privacy Policy
                6
                 the organization has reasonable grounds to believe the information could be useful when
                investigating a contravention of a federal, provincial or foreign law and the information is
                used for that investigation;  an emergency exists that threatens an individual’s life, health or security;  the information is for statistical study or research;  the information is publicly available;  the use is clearly in the individual’s interest, and consent is not available in a timely way;  knowledge and consent would compromise the availability or accuracy of the information,
                and
                 collection is required to investigate a breach of an agreement.
                5.2 Disclosure and Transfer of Personal Information
                Personal information will be disclosed to only those D2DCouriers employees, suppliers, members
                of D2DCouriers committees, and the Directors that need to know the information for the purposes
                set out in this Privacy Policy. Personal information will be disclosed to third parties with the individual's knowledge and
                consent, which may be implied as per this Privacy Policy. PIPEDA permits D2DCouriers to disclose Personal information to third parties, without an
                individual's knowledge and consent, to:  a lawyer representing D2DCouriers;  collect a debt owed to D2DCouriers by the individual or client;  comply with a subpoena, a warrant or an order made by a court or other body with
                appropriate jurisdiction;  a law enforcement agency in the process of a civil or criminal investigation;  a government agency or department requesting the information; or,  as required by law.
                PIPEDA permits D2DCouriers to transfer Personal information to a third party, without the
                individual's knowledge or consent, if the transfer is simply for processing purposes and the third
                party only uses the information for the purposes for which it was transferred. D2DCouriers will
                ensure, by contractual or other means, that the third party protects the information and uses it
                only for the purposes for which it was transferred.
                Company Privacy Policy
                7
                5.3 Retention of Personal Information
                Personal information will be retained in client files as long as the use for which it was collected
                is active and for such periods of time as may be prescribed by applicable laws and regulations.
                Personal information contained in an inactive file will be retained for a period of seven (7) years,
                except in the case where D2DCouriers has actively rejected the intended use of the Personal
                information. Where an intended use has been rejected, the file and all Personal information
                contained in the file will be retained for a period of two (2) years.
                6.0 Accuracy
                D2DCouriers endeavours to ensure that any Personal information provided by the individual in his
                or her active file(s) is accurate, current and complete as is necessary to fulfill the purposes for
                which the information has been collected, used, retained and disclosed. Individuals are
                requested to notify D2DCouriers of any change in personal or Business information.
                Information contained in inactive files is not updated.
                7.0 Safeguards
                D2DCouriers will use physical, organizational, and technological measures to safeguard Personal
                information to only those D2DCouriers employees, volunteers, or third parties who need to know
                this information for the purposes set out in this Privacy Policy and who are subject to reasonable
                obligations of confidentiality with regard to the Personal information. Organizational Safeguards: Access to Personal information will be limited to the parties that
                require it for the purposes herein, and for the duration of that need.
                Physical Safeguards: Active files are stored in locked filing cabinets when not in use. Access to
                work areas where active files may be in use is restricted to D2DCouriers employees only and
                authorized third parties. All inactive files or Personal information no longer required are
                shredded prior to disposal to prevent inadvertent disclosure to unauthorized persons.
                Technological Safeguards: Personal information contained in D2DCouriers computers and
                electronic databases, the App and the Software, are password protected and are protected in
                conformance with reasonably prudent industry norms. Access to any of the D2DCouriers 's
                computers also is password protected. D2DCouriers 's Internet router or server has firewall
                protection sufficient to protect personal and confidential Business information against virus
                attacks and "sniffer" software arising from Internet activity.
                8.0 Openness
                D2DCouriers will endeavour to make its privacy policies and procedures known to the individual
                via this Privacy Policy.
                9.0 Individual Access
                An Individual who wishes to review or verify what Personal information is held by D2DCouriers, or
                to whom the information has been disclosed (as permitted by the Act), may make the request
                for access, in writing, to the D2DCouriers 's Chief Privacy Officer.
                Company Privacy Policy
                8
                Upon verification of the individual's identity, the Chief Privacy Officer will respond within 60
                days. D2DCouriers is entitled to request sufficient Personal information to allow us to confirm
                whether or not we have Personal information relating to you, the individual making the request.
                We reserve the right to charge a minimal fee for copies of documents requested under this
                Privacy Policy. Please advise us if you need any help in preparing your request and we will
                ensure you are provided with such assistance. Additionally, for those with a sensory disability,
                we will endeavour to provide you with access to your personal information in an alternate
                format, if so requested. Please contact our Chief Privacy Officer for such requests and
                assistance. There may be circumstances where we are unable to provide the requested
                access. Those circumstances include if the cost of providing access would be prohibitive, the
                information contains references to other individuals, disclosure is prohibited for legal, security or
                commercial proprietary reasons, and/or the information is subject to solicitor client or litigation
                privilege.
                If the individual finds that the information held by D2DCouriers is inaccurate or incomplete, upon
                the individual providing documentary evidence to verify the correct information, D2DCouriers will
                make the required changes to the individual's active file(s) promptly.
                10.0 Complaints/Recourse
                If an individual has a concern about D2DCouriers 's Personal information handling practises, a
                complaint, in writing, may be directed to the D2DCouriers 's Chief Privacy Officer.
                Upon verification of the individual's identity, D2DCouriers 's Chief Privacy Officer will act promptly
                to investigate the complaint and provide a written report of the investigation's findings to the
                individual.
                Where D2DCouriers 's Chief Privacy Officer makes a determination that the individual's complaint
                is well founded, the Chief Privacy Officer will take the necessary steps to correct the offending
                information handling practise and/or revise D2DCouriers 's privacy policies and procedures.
                Where D2DCouriers 's Chief Privacy Officer determines that the individual's complaint is not well
                founded, the individual will be notified in writing.
                If the individual is dissatisfied with the finding and corresponding action taken by D2DCouriers 's
                Chief Privacy Officer, the individual may bring a complaint to the Federal Privacy Commissioner
                at the address below:
                The Privacy Commissioner of Canada Email address: www.privcom.gc.ca. 112 Kent Street, Ottawa,
                Ontario K1A 1H3
                Tel 1-800-282-1376
                Questions/Access Request/Complaint
                Any questions regarding this or any other privacy policy of D2DCouriers may be directed to the
                Chief Privacy Officer. Requests for access to information, or to make a complaint, are to be
                made in writing and sent to the Chief Privacy Officer at the address below:
                Legal Department
                25 Production Road
                Brampton, ON L6T 4N8
                Canada
                Company Privacy Policy
                9
                Amendment to ...... 's Privacy Policies
                This ...... 's Privacy Policy is in effect and is retroactive to January 1, 2004. This policy is
                subject to amendment in response to developments in the privacy legislation. The Chief Privacy
                Officer will review and revise the Privacy Policy from time to time as required by changes in
                privacy law. Notification of any changes in the Privacy Policy will be posted on D2DCouriers 's
                website. Any changes in the Privacy Policy will apply to Personal information collected from the
                date of the posting of the revised Privacy Policy.</p>
                <h5>Additional Terms and Conditions</h5>
                <p>
                Disclaimers
                Notwithstanding that we take the security precautions set out herein to protect your privacy and
                confidentiality, we cannot guarantee the security of your Personal information or company
                information. E-mails or forms sent via the Internet are neither confidential nor secure and can
                be viewed and modified by third parties. D2DCouriers will not be liable for damages arising from
                messages sent to it via unsecured e-mail or other messages sent electronically (SMS, etc.).
                Transactions
                Financial transactions may be processed through a payment provider and/or the App or
                Software. Such financial transactions may include Personal information and/or Business
                information. Such third parties may access, process, and store, Personal information and/or
                Business information as may be required to process transactions.
                Cookies
                D2DCouriers may use cookies to help understand and save users’ preferences for future visits,
                compile aggregate data about site traffic and site interactions in order to offer better site
                experiences and tools in the future. We may also use trusted third-party services that track this
                information on our behalf. Cookies may be turned off, but if you turn cookies off, some of the
                features that make your site experience more efficient may not function properly.
                CASL
                D2DCouriers complies with the Canada Anti-Spam Law with respect to all commercial electronic
                messages we send out. At any time if you would like to unsubscribe from receiving future
                emails, you can email us at sales@D2DCourierslogistics.com and we will promptly remove you from
                ALL correspondence.</p>
               
               

        </div>
    </div>

</div>

   
    