
   <!-- Topbar Start -->
   <div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>+1 872 760 4332</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>D2DCouries15@gmail.com</small>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="/index" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5  text-light" ><i class="fa fa-truck mr-2"></i> D2DCouriers</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="/index" class="nav-item nav-link text-dark bg-light active ">Home</a>
                <a href="/about" class="nav-item nav-link text-light bg-light">About</a>
                <a href="/service" class="nav-item nav-link text-light bg-light">Service</a>
                <a href="/price" class="nav-item nav-link text-light bg-light">Price</a>
               
                <a href="/contact" class="nav-item nav-link text-light bg-light">Support</a>
            </div>
            
        </div>
    </nav>
</div>
<!-- Navbar End -->

   




    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <h2 class="text-primary text-uppercase font-weight-bold text-center">Terms Of Agreement</h2>
           
              
                
            LOGISTICS SERVICES AGREEMENT

            THIS LOGISTICS SERVICES AGREEMENT (the “Agreement”) is entered into this 5th day of October, 2009, by and between LIMITED LOGISTICS SERVICES, INC., a Delaware corporation (“LLS”), and Express, LLC, a Delaware limited liability company (“Express”).
            
            R E C I T A L S:
            
            WHEREAS, LLS has pre-existing contractual arrangements with certain carriers engaged in the business of transporting property in interstate, intrastate or foreign commerce and is in the business of providing other Logistics Services (as described below); and
            
            WHEREAS, LLS is currently providing certain logistics services to Express pursuant to a Services Agreement dated July 6, 2007, as amended (“Existing Services Agreement”);
            
            WHEREAS, LLS and Express desire to terminate the provision of such logistics services as set forth in Schedule III of the Existing Services Agreement and institute the provision of Logistics Services pursuant to this Agreement;
            
            NOW THEREFORE, in consideration of the mutual agreements hereinafter set forth, the parties hereto, intending to be legally bound, hereby agree as follows:
            
            Section 1. Services.
            
            1.1. General. LLS will provide the following logistics services to Express: (1) inbound and outbound transportation and delivery services as more particularly set forth in this Agreement and on Schedule 1 (“T&D Services”); (2) distribution services as more particularly set forth in this Agreement and on Schedule 2 (“Distribution Services”); (3) customs, IPS and brokerage services as more particularly set forth in this Agreement and on Schedule 3 (“Global Trade Services”); and (4) such additional services, to the extent terms, including cost, are agreed upon by LLS and Express (it being agreed that LLS shall consider in good faith any reasonable request by Express for such additional services and that the parties shall negotiate in good faith the terms (including cost) thereof) (“Additional Services”); (all of such services collectively referred to herein as “Logistics Services”). Logistics Services shall be provided to support the needs of Express in connection with its domestic, international and e-commerce businesses as forecasted in Schedule 4 (“Logistics Services – Capacity”); provided that the standard of service provided by LLS in respect of the Logistics Services shall be no less than the standard of service currently provided by LLS with respect to the logistics services and related services, including with respect to international, shipment preparation and overseas outbound transportation but with e-commerce support excluding the fulfillment, call center and other activities currently provided to Express by others.
            
            1.2. Products. LLS shall provide Logistics Services for current and, to the extent described in the immediately succeeding sentence, future Express products, including existing personal care product lines processed through LLS (“Products”). Products shall also include, and LLS shall also provide, Logistics Services for any future lines of business Express chooses to process through LLS, including additional personal care products, so long as the parties agree on reasonable terms for Logistics Services for such additional lines of business.
            
            LLS shall have the opportunity to participate in the bidding process for Logistics Services for: (a) any future lines of business of Express; and (b) any Logistics Services for selling geographies outside of the United States. LLS and Express shall discuss all such opportunities referred to in the preceding clauses (a) and (b) and Express agrees to include LLS in any “request for proposal” process and to consider in good faith any offer made by LLS for such future lines of business and new selling geographies. The obligation to consider any offer by LLS in good faith shall not be construed as an obligation on Express to select LLS’ offer, but rather, an obligation to reasonably consider such offer by LLS in connection with Express’ “request for proposal” process. The parties acknowledge that the types of products or services referred to in clause (a) above may require different processing and different cost structure, but LLS shall use commercially reasonable efforts to work with Express in connection with support of any such additional business, subject to the provisions of this Agreement.
            
            1.3. Distribution Center. Logistics Services provided pursuant to this Agreement shall be provided, unless otherwise specified herein, at the distribution center located at One Limited Parkway, Columbus, Ohio, 43230 (“Distribution Center” or “DC1”); provided that LLS shall have the right to continue to utilize other facilities (including the distribution center located at Four Limited Parkway in Reynoldsburg, Ohio) to the extent currently utilized and as necessary for personal care products. DC1 shall be utilized exclusively for providing Express Logistics Services. In the event the current facilities are not sufficient to provide Logistics Services as forecasted in Schedule 4, LLS shall provide such additional facilities as the parties mutually determine may be necessary or appropriate to support the required Logistics Services.
            
            Section 2. Rates.
            
            2.1. General. Subject to the provisions hereof, Express shall pay LLS for the Logistics Services in the amounts set forth in, and in accordance with the provisions of, this Agreement, including the Schedules, without any offset or deduction except as otherwise set forth herein. Express and LLS acknowledge that the Rent and operating expenses set forth on Schedule 5 are payable regardless of the amount of Products processed through LLS.
            
            2.2. Payment. LLS shall invoice Express on a monthly basis (not later than the fifteenth (15th) day of the following month), for the Logistics Services incurred in the prior month, and will provide to Express the same billing data and level of detail currently provided to Express, plus any additional back-up information as may be
            
            reasonably requested by Express. Express agrees to pay all amounts invoiced by LLS (excluding any “Disputed Amount(s)”, defined below) on or before thirty (30) days after the date of the invoice (such 30th day, the “Payment Date”). Such payments shall be made by Express by wire transfer of immediately available funds to an account designated in advance in writing by LLS, or if no such designation is made, by check. If Express fails to pay the amount of any invoice under this Agreement (excluding any Disputed Amount(s)) within fifteen (15) days of the relevant Payment Date, LLS may charge, in addition to the amount due on such Payment Date, interest on such amount at eight percent (8%) per annum, from such 15th day following the relevant Payment Date to the date payment is actually made, provided that such interest rate shall not exceed the maximum rate permitted by applicable law. All payments made shall be applied first to unpaid interest and then to amounts invoiced but unpaid. If Express fails to pay the amount of any invoice (excluding any Disputed Amount(s)) within thirty (30) days of the relevant Payment Date, such failure shall be considered a material breach of this Agreement.
            
            In the event Express has a good faith dispute that any amount invoiced by LLS is not properly payable by Express pursuant to the terms of this Agreement (“Disputed Amount(s)”), Express shall notify LLS in writing within forty-five (45) days after the later of receipt of the invoice or the date Express becomes aware of the Disputed Amount, but in no event later than one year after Express’ receipt of the invoice. Such notice shall contain the amount of the Disputed Amount, reasonable back-up related to the dispute and a written description of the reason(s) Express is disputing such payment. The parties shall then work diligently and in good faith to resolve the dispute. In the event the resolution of the dispute is such that payment is due from Express, Express shall pay the amount due within thirty (30) days of resolution, with interest accruing for any such payments not made within fifteen (15) days of the payment due date, at the rate described in this Section 2.2. In the event Express is disputing more than $100,000.00 of the amount invoiced by LLS, Express shall pay the Disputed Amount into an escrow account pending resolution of the dispute.
            
            2.3. Billing. Express shall pay LLS for Logistics Services as set forth in Schedules 1 through 4 attached hereto. LLS agrees that it shall have no right to invoice Express for any amount due later than one (1) year following the date on which such amount would be invoiced in the normal course of business.
            
            Section 3. Standards of Service.
            
            3.1. General Standard of Service. Except as otherwise agreed with Express in writing or expressly provided in this Agreement, LLS agrees that the nature, quality, and standard of care applicable to the delivery of the Logistics Services hereunder shall be substantially the same as that of the Logistics Services which LLS generally provides from time to time, now or in the future, to its subsidiaries and affiliates, but in no event less than the standard of service currently provided to Express. LLS shall work in good faith with Express to customize processes, including but not limited to the inbound shipping matrix, taking into account and incorporating reasonable
            
            suggestions made by Express in such regard. In addition, LLS shall proactively seek savings (consistent with the last paragraph of Schedule 2) in costs and expenses to Express through efficiencies and technologies and processes and shall inform Express thereof in the Review Meetings, as hereinafter defined in Section 3.3. In general, the parties intend that LLS and Express shall partner together on issues related to Express’ Logistics Services, and, in addition to LLS’ other obligations hereunder, LLS shall confer with and consider all reasonable requests of Express regarding Logistics Services. LLS shall inform Express in writing at least sixty (60) days in advance of any significant change it proposes to undertake with respect to the Logistics Services hereunder which would, in Express’ reasonable discretion, result in a material increase in the cost structure of Logistics Services, a material change that would diminish the Logistics Services provided to Express, or result in any material asset additions or material management increases in the Distribution Center, and in the event Express objects thereto, the parties shall work together to equitably resolve such objection. Except as otherwise provided in this Agreement, the parties acknowledge that the management of and control over the provision of the Logistics Services (including, without limitation, the determination or designation at any time of the assets, employees and other resources of LLS to be used in connection with providing the Logistics Services) shall reside with LLS. In addition, all labor matters relating to any associates of LLS (including, without limitation, any associates of any related entity involved in the provision of Logistics Services to Express) shall be within the exclusive control of LLS, and Express shall take no action affecting such matters.
            
            3.2. Ownership of Products. Notwithstanding any other provision of this Agreement, but except as otherwise expressly provided in the Schedules or in a separate written agreement that is not, by its terms, superseded by this Agreement, title to all Products or other materials that are transported, shipped, warehoused or otherwise held in the custody of LLS on behalf of Express pursuant to this Agreement, shall at all times remain with Express, and Express shall at all times be the owner of record of such Products or other materials, and, subject to the express provisions of this Agreement to the contrary, shall be solely responsible for any matters arising from or relating to such Products or other materials.
            
            3.3 Reporting, Auditing and Review Meetings. LLS shall work in good faith with Express to ensure that Express has access to LLS reporting and records for Express-related activities it needs to proactively manage its business, which includes but is not limited to inbound, customs, distribution center and outbound.
            
            Express shall have reasonable access to DC1 (including inbound/outbound operations) and to any distribution center providing Logistics Services, at any time following reasonable advance notice, which may be verbal.
            
            Express and LLS shall work together in good faith to establish reasonable and appropriate performance metrics against which LLS shall be measured and LLS shall perform the Logistics Services in accordance therewith. Such performance metrics include without limitation pre-pack, pre-allocation, cross dock, distribution center receipt/through put (specific to the purchase orders), DC1 UPH, DC1 throughput and
            
            shipping matrices. LLS shall provide Express with monthly, quarterly and annual reporting which monitors and tracks its performance against such matrices in a mutually agreeable form. Express may independently monitor and track such performance.
            
            LLS shall provide the Logistics Services in accordance with the Overages, Shortages and Damages Policy attached hereto and made a part hereof as Schedule 8 and LLS shall perform the Logistics Services in accordance therewith. The policies addressed by this Agreement shall be reviewed in the Review Meetings, described below.
            
            In addition to the processes set forth in the Overages, Shortages and Damages Policy, the parties agree that the following procedures shall be implemented to further establish the responsibility and accountability of LLS for the Logistics Services provided to Express:
            
            Inbound: Meetings shall be held no less than monthly to track, review, analyze, and if necessary, escalate all pending claims for shortages and damaged goods. The purpose of these meetings is to create an ongoing dialogue between LLS and Express to ensure that Express is reimbursed for all shortages and damages in a timely manner; to communicate regarding all shortages and damages; to analyze losses to identify the root cause of such losses; to establish corrective procedures to prevent future losses; and to discuss and resolve any inbound issues of concern to Express or LLS. Claims shall be based on the cost of goods. Claims amounting to $20,000 or more shall be escalated to the chief financial officer of each party for resolution. LLS shall file all claims with the appropriate carrier in a timely manner. In the event Express is not reimbursed for a claim as a result of LLS’ failure to timely file a claim or to pursue a claim, to the extent not caused by Express’ failure to cooperate with LLS in connection with filing and pursuing such claim (including providing reasonable supporting documentation requested by LLS), LLS shall reimburse Express for such loss.
            
            Outbound: Meetings shall be held no less than monthly to investigate, analyze and if necessary, escalate issues regarding shrink, shortages and damaged goods. The purpose of these meetings is to create an ongoing dialogue between LLS and Express to investigate and analyze losses to identify the root cause of such losses; to react in a prompt manner to resolve such losses; to establish corrective procedures to prevent future losses; to resolve any issues regarding a particular delivery agent; to discuss and resolve any outbound issues of concern to Express or LLS; and if necessary, to escalate any issues to the chief financial officer of each party for resolution. LLS agrees that it shall strictly enforce the existing “three strikes” policy wherein any driver with three violations of LLS policies shall be removed from all Express routes. Claims shall be based on the cost of goods. Claims amounting to $20,000 or more shall be escalated to the chief financial officer of each party for resolution. In the event Express is not reimbursed for a claim as a result of LLS’ failure to timely file a claim or to pursue a claim, to the extent not caused by Express’ failure to cooperate with LLS in connection with filing and pursuing such claim (including providing reasonable supporting documentation requested by LLS), LLS shall reimburse Express for such loss.
            
            Distribution Center: Cycle counting will be completed on a quarterly basis. Inventory unit gains and shrink will be combined to determine the total gain or shrink from the cycle counting for that quarter. The resulting gain or shrink will be combined with the gain or shrink results from the other quarter relating to that season to determine a combined seasonal result. If the combined seasonal result exceeds .0015 of total units processed, LLS shall reimburse Express for the number of units which exceed the .0015 threshold at the average unit cost for goods processed during that seasonal period. If when reviewing the shrink causes for a season, it is determined that Express related systems or activity negatively impacted the LLS processes and significantly contributed to the shrink results, those impacts will be appropriately adjusted from the shrink results for purposes of determining if reimbursement is owed by LLS. Express and LLS shall work together in good faith to develop a mutually agreeable protocol for determining concealed shortages and the optimal level of diligence necessary by LLS for processing goods.
            
            The parties agree to hold review meetings (the “Review Meetings”) not less than twice each fiscal year of LLS, each such meeting to be held ninety (90) days prior to the end of each season. Representatives of Express and of LLS shall work together in good faith and review and discuss any operational, strategic or other issues raised by any participant with respect to the provision of the Logistics Services. The parties shall also review season end results and next season projections. The parties intend that information exchanged at such Review Meetings shall be in addition to ongoing communication between representatives of Express and LLS with respect to the provision of the Logistics Services. Further, LLS and Express agree to work together in good faith to identify projects which will lower the cost per unit charged per the terms of this Agreement, with both parties sharing in any resulting savings (consistent with the last paragraph in Schedule 2), determined based on the dynamics of each individual project.
            
            Section 4. Hazardous Materials and Compliance with Laws.
            
            4.1. Hazardous Materials. Except as otherwise agreed upon between the parties as more fully described in this Agreement, Express hereby represents to its actual knowledge that all current Products transported in accordance with this Agreement shall have a hazardous materials rating of ORM-D or less such that no hazardous shipping papers are required. The parties acknowledge that all Products for which LLS currently provides Logistics Services and personal care products have a hazardous materials rating of ORM-D or less.
            
            4.2. Compliance with Law. The parties shall comply with all laws, rules, regulations or other requirements imposed by any governmental body or entity which are applicable to the performance of services under this Agreement.
            
            Section 5. Insurance. Express shall maintain at Express’ expense, at all times insurance in commercially reasonable amounts on Products it owns against risk of loss and/or damage. Express represents that in no event shall its deductible be more than $1,000,000.00. LLS shall not provide any insurance coverage for the Products, it being agreed that Express shall be solely responsible for the provision and maintenance of such coverages.
            
            Section 6. Limitation of Liability and Indemnification.
            
            6.1. Limitation of Liability. Express agrees that neither LLS nor any of its directors, officers, partners, members, managers, agents, and employees (each, a “LLS Indemnified Person”, and collectively “LLS Indemnified Persons”) shall have any liability, whether direct or indirect, in contract or tort or otherwise, to Express or any other party for or in connection with the Logistics Services rendered or to be rendered by any LLS Indemnified Person pursuant to this Agreement, the transactions contemplated hereby or any LLS Indemnified Person’s actions or inactions in connection with any such Logistics Services, except for Damages (as defined below) arising out of or resulting from (i) LLS’ breach of this Agreement, (ii) such LLS Indemnified Person’s violation of law, (iii) a breach of LLS’ representations set forth in this Agreement, or (iv) such LLS Indemnified Person’s negligence or willful misconduct. Notwithstanding the foregoing, LLS expressly agrees that the foregoing limitation of liability shall in no way extend to carriers of the Products. LLS agrees that neither Express nor any of its directors, officers, partners, members, managers, agents and employees (each, an “Express Indemnified Person”) shall have any liability, whether direct or indirect, in contract or tort or otherwise, to LLS or any other party for or in connection with this Agreement, except for Damages arising out of or resulting from (i) such Express Indemnified Person’s violation of law, (ii) a breach of Express’ representations set forth in this Agreement, or (iii) such Express Indemnified Person’s negligence or willful misconduct.
            
            Notwithstanding anything to the contrary in this Agreement, none of the LLS Indemnified Persons or the Express Indemnified Persons shall be liable for (and the term “Damages” shall not include) any special, indirect, incidental, punitive or consequential damages of any kind whatsoever in any way due to, resulting from or arising in connection with any of the Logistics Services or the performance of or failure to perform its obligations under this Agreement. This limitation applies without limitation (1) to claims arising from the Logistics Services or any failure or delay in connection therewith; (2) to claims for lost profits or lost opportunities; (3) regardless of the form of action, whether in contract, tort (including negligence), strict liability, or otherwise; and (4) regardless of whether such damages are foreseeable or whether the parties have been advised of the possibility of such damages.
            
            In addition to the foregoing, each of Express and LLS agrees that it shall use commercially reasonable efforts to mitigate its damages to the extent required by applicable law.
            
            6.2. Indemnification of LLS by Express. Subject to the provisions of Section 6.1, Express agrees to and shall indemnify and hold harmless each LLS Indemnified Person from and against any and all damage, loss, liability and expense (including, without limitation, reasonable expenses of investigation and reasonable attorneys’ fees and expenses in connection with any action, suit or proceeding) (“Damages”) incurred or suffered by any LLS Indemnified Person or as a result of Damages arising from a claim by a third party, in each case, arising out of or in
            
            connection with Express’ breach of this Agreement, violation of law, breach of Express’ representations and warranties set forth in this Agreement, and Express’ negligence or willful misconduct.
            
            6.3. Indemnification of Express by LLS. Subject to the provisions of Section 6.1, LLS agrees to and shall indemnify and hold harmless each Express Indemnified Person from and against any and all Damages incurred or suffered by any Express Indemnified Person or as a result of Damages arising from a claim by a third party, in each case, arising out of or in connection with LLS’ breach of this Agreement, violation of law, breach of LLS representations and warranties set forth in this Agreement, and LLS’ negligence or willful misconduct.
            
            6.4. Waiver of Subrogation. LLS and Express mutually agree that with respect to any loss which is covered by self-insurance, insurance then being carried by them respectively, or required to be carried hereunder, the one self-insuring, carrying or required to carry such insurance and suffering said loss hereby releases the other of and from any and all claims with respect to such loss; and LLS and Express further mutually agree that their respective insurance companies (including self-insurance) shall have no right of subrogation against the other on account thereof.
            
            Section 7. Confidential Information. Each of Express and LLS will keep confidential and not use on its own behalf (except as set forth in this Agreement) or disclose to any third parties any information regarding the other party’s business, affairs or customers (“Confidential Information”). The Confidential Information shall be used solely in connection with this Agreement and the Logistics Services provided hereunder. LLS and Express agree to take all necessary steps to ensure the protection of the Confidential Information and shall in no event disclose Confidential Information to third parties.
            
            Section 8. Term and Termination.
            
            8.1 Term. This Agreement will have an initial term of approximately six (6) years, commencing on February 1, 2010 and ending April 30, 2016. Following the expiration of the Term, this Agreement shall continue, on the same terms and conditions, and be terminable by either party upon no less than twenty four (24) months advance notice; provided that neither party may establish a termination date between October 1st of any calendar year and the last day of February of the following calendar year. Upon any termination of this Agreement, LLS shall cooperate with Express to provide for an orderly transition of Logistics Service, with LLS acknowledging that gradual reduction in Products receiving Logistics Services may be part of the transition process.
            
            8.2. Early Termination. Notwithstanding the foregoing, Express shall have the right to terminate this Agreement upon no less than twenty-four (24) months advance notice, given no earlier than February 1, 2011; provided that Express may not establish a termination date pursuant to this Section 8.2 between October 1st of any calendar year and the last day of February of the following calendar year.
            
            8.3. Termination for Breach. Express and LLS shall each have the right to terminate this Agreement if the other party is in material breach of this Agreement, including, with respect to a breach by Express, any monetary breach beyond the applicable cure period. Such termination shall follow written notice to the breaching party specifying the nature of the breach. If such breach has not been cured within thirty (30) after written notice of such breach is delivered to the breaching party, (or such longer time as may be necessary because of the nature of the breach, provided the breaching party is diligently attempting to cure such breach and provided that no additional notice or cure period beyond those specified elsewhere in this Agreement shall apply in the event of a monetary default), the non-breaching party may thereupon terminate this Agreement upon an additional ninety (90) days written notice to the breaching party, and the non-breaching party shall be entitled to all remedies available at law or in equity.
            
            8.4. Termination of Existing Services Agreement. Effective as of the commencement of the Term, Schedule III (Logistics and Related Services) to the Existing Services Agreement is hereby terminated, null and void and of no further force or effect, and the services described therein are hereby terminated, and Logistics Services shall be provided by LLS to Express solely pursuant to this Agreement. Notwithstanding anything in the Existing Services Agreement to the contrary, there shall be no negative impact to Express with respect to termination of Schedule III to the Existing Services Agreement and the services described therein, and Express shall not be required to pay any Disengagement Costs, as defined in the Existing Services Agreement, or any other costs, fees or expenses (except any amounts outstanding under the Existing Services Agreement), and shall have no liabilities or obligations to any person or entity, as a result of the termination of Schedule III to the Existing Services Agreement and the services described therein.
            
            Section 9. Miscellaneous.
            
            9.1. Waiver. No purported waiver by either party of any default by the other party of any term or provision contained herein shall be deemed to be a waiver of such term or provision unless the waiver is in writing and signed by the waiving party. No such waiver shall in any event be deemed a waiver of any subsequent default under the same or any other term or provision contained herein.
            
            9.2. Entire Agreement. This Agreement and the schedules attached hereto set forth the entire understanding between the parties concerning the subject matter of this Agreement and incorporate all prior negotiations and understandings. There are no covenants, promises, agreements, conditions or understandings, either oral or written, between them relating to the subject matter of this Agreement other than those set forth herein. No representation or warranty has been made by or on behalf of either party to this Agreement (or any officer, director, employee or agent thereof) to induce the other party to enter into this Agreement or to abide by or consummate any transactions contemplated by any terms of this Agreement except representations and warranties, if any, expressly set forth herein. No alteration, amendment, change or addition to this Agreement shall be binding upon either party unless in writing and signed by both parties.
            
            9.3. No Partnership. Nothing contained in this Agreement shall be deemed or construed by the parties hereto or by any third person to create the relationship of employee and employer, principal and agent or of partnership or of joint venture. Express assumes full responsibility for, and LLS will have no liability with respect to, Express’ employees or agents. Subject to the provisions of this Agreement, including indemnity, LLS assumes full responsibility for, and Express will have no liability with respect to, LLS’ employees or agents.
            
            Nothing in this Agreement shall establish or be deemed to establish any fiduciary relationship between the parties hereto. The parties’ respective rights and obligations hereunder shall be limited to the contractual rights and obligations expressly set forth herein on the terms and conditions set forth herein.
            
            9.4. Successors. Each and all of the provisions of this Agreement shall be binding upon and inure to the benefit of the parties hereto and, except as otherwise specifically provided in this Agreement, their respective successors and assigns.
            
            9.5. Notices. Any consent, waiver, notice, demand, request or other Instrument required or permitted to be given under this Agreement shall be in writing and be deemed to have been properly given only when sent by certified or registered United States mail, return receipt requested, postage prepaid, addressed:
            
            If to LLS:
            
            Limited Logistics Services, Inc.
            
            Two Limited Parkway
            
            Columbus, OH 43230
            
            Attn: Vice President, DC Operations
            
            With a copy to:
            
            Limited Logistics Services, Inc.
            
            c/o Limited Brands, Inc.
            
            Three Limited Parkway
            
            Columbus, OH 43230
            
            Attn: Senior Vice President, Finance
            
            If to Express:
            
            Express, LLC
            
            One Limited Parkway
            
            Columbus, OH 43230
            
            Attn: Chief Financial Officer
            
            Notwithstanding the foregoing, invoices and reminder notices may be given via electronic (or email) delivery, provided the sender verifies receipt. Either party may change its address for notices by notice in the manner set forth above.
            
            9.6. Force Majeure. Neither party shall be held liable or responsible to the other party nor be deemed to have defaulted under or breached this Agreement for failure or delay in fulfilling or performing any term of this Agreement when such failure or delay is caused by or results from causes beyond the reasonable control of the affected party, including, but not limited to, fire; floods; storms; embargoes, war or acts of war (declared or undeclared); insurrections, riots or other civil commotions; acts of terrorism; strikes, lockouts, or other labor disturbances; explosions; sabotage; accidents; governmental orders; change in statutes, rules or regulations; delays by unaffiliated suppliers or carriers; shortages of fuel, power, raw materials or components; acts of God; or acts, omissions, or delays in acting by any governmental or military authority, or the other party (collectively, “Force Majeure”); provided, however, it is understood that (i) this Section only operates to suspend, and not to discharge, a party’s obligations under this Agreement, and that when the causes of the failure or delay are removed or alleviated the affected party shall resume performance of its obligations hereunder and (ii) this Section shall not excuse a party’s obligation to pay money; provided that Express shall not be obligated to pay for any particular Logistics Service during the pendency of LLS’ failure to provide such particular Logistics Service on account of such Force Majeure event. A party that is unable to fulfill its obligations due to any Force Majeure event shall (1) promptly after the occurrence thereof give notice to the other party with details of such event and (2) work diligently and use its commercially reasonable efforts to remedy such event as promptly as practicable, including using other distribution centers to the extent reasonably possible during the duration of such occurrence. If LLS is unable to provide any of the Logistics Services due to Force Majeure, both parties shall work together in good faith and exert commercially reasonable efforts to cooperatively seek a solution that is mutually satisfactory.
            
            Express and LLS shall work together in good faith to establish a mutually agreeable business continuity plan which specifies the manner in which Logistics Services will be provided in the event of an event of Force Majeure.
            
            9.7. Employees. From the date hereof and until the expiration of twenty-four (24) months from the date of notification of termination of all of the Logistics Services under this Agreement, Express hereby agrees that it shall not hire or engage in discussions relating to employment with any employee of LLS who are involved in the provision of any of the Logistics Services
            
            9.8. Captions. The captions and section numbers appearing in this Agreement are inserted only as a matter of convenience. They do not define, limit, construe or describe the scope or intent of the provisions of this Agreement.
            
            9.9. Partial Invalidity. If any term or provision of this Agreement, or the application thereof to any person, firm, corporation or circumstance, shall be invalid or unenforceable, the remainder of this Agreement, or the application of such term or provision to persons, firms, corporations or circumstances other than those as to which it is held invalid, shall be unaffected thereby and each term or provision of this Agreement shall be valid and be enforced to the fullest extent permitted by law.
            
            9.10. Governing Law. This Agreement shall be governed and construed by the provisions hereof and in accordance with the laws of the State of Ohio applicable to agreements to be performed in the State of Ohio, and by applicable federal law.
            
            9.11. Waiver of Jury Trial. THE PARTIES HERETO HEREBY IRREVOCABLY WAIVE ANY AND ALL RIGHT TO TRIAL BY JURY IN ANY LEGAL PROCEEDING ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE TRANSACTIONS CONTEMPLATED HEREBY.
            
            9.12. Severability. If any provision of this Agreement shall be invalid or unenforceable, such invalidity or unenforceability shall not render the entire Agreement invalid. Rather the Agreement shall be construed as if not containing the particular invalid or unenforceable provision, and the rights and obligations of each party shall be construed and enforced accordingly.
            
            9.13. Amendment. This Agreement may not be amended or modified except in writing signed by the parties hereto.
            
            9.14. Counterparts. This Agreement may be executed in counterparts, each of which when executed by the parties hereto shall be deemed an original and all of which together shall be deemed the same Agreement.
            
            9.15. Assignment. This Agreement may not be assigned, in whole or in part (including, without limitation, by the assignment of Express’ rights to receive any payment hereunder), by Express without the written consent of LLS. Notwithstanding the foregoing, Express shall have the right to assign this Agreement without the written consent of LLS (“Permitted Assignment”) to any parent, subsidiary or affiliated company of Express, any company with which Express may merge or consolidate, any company acquiring all or substantially all of the assets or stock of Express or the offering of stock; provided that such Permitted Assignment is to an entity that will, following such assignment, continue to operate the Express division, it being agreed that in such event, this Agreement shall be applicable only to the Express division’s operations (and not the operations of any other division of such entity).
            
            9.16. Authorization. It is agreed and warranted by the parties that the persons signing this Agreement respectively for Express and LLS are the authorized representatives to sign this Agreement on behalf of each such party.
            
            9.17. Headings; Interpretation and Construction. The headings to sections of this Agreement and the table of contents to this Agreement are inserted for convenience of reference only and in no way define, limit or describe the scope of this Agreement or the meaning of any provisions of this Agreement. The words “include,” “includes,” “including” and “such as” are deemed to be followed by the phrase “, without limitation,”. All references to “$” or “dollars” shall be to United States dollars and all references to “days” shall be to calendar days unless otherwise specified. Any reference to the masculine, feminine or neuter gender shall include such other genders, and references to the singular or plural shall include the other, in each case unless the context otherwise requires. The Schedules hereto shall be deemed to be incorporated in and an integral part of this Agreement. In the event of any conflict or inconsistency between the terms and conditions of this Agreement and the terms and conditions of any of the Schedules, the terms and conditions of the Schedules shall prevail to resolve any inconsistency.
            
            9.18. Mutual Contribution. The parties to this Agreement and their counsel have mutually contributed to its drafting. Consequently, no provision of this Agreement shall be construed against any party on the ground that party drafted the provision or caused it to be drafted.
            
            9.19. LLS Representations. LLS represents that the Logistics Services shall be provided in accordance with the terms of this Agreement; the Logistics Services will be provided in a good and workmanlike manner; LLS shall comply with law (in accordance with Section 4.2 of this Agreement); LLS shall comply with the confidentiality provisions contained in Section 7 of this Agreement; the Warehouse Management for iSeries, version 99R2, is the current configuration operated by LLS and is sufficient during the initial term, to maintain operations as currently being provided, without the necessity for additional modules or software; and LLS shall provide the Services in accordance with the policies (in accordance with Section 3.3 of this Agreement).
            
            The parties have duly executed this Agreement by their authorized representatives as of the date and year set forth on the first page of this Agreement.
               

        </div>
    </div>

</div>

   
     
