
   <!-- Topbar Start -->
   <div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>+1 872 760 4332</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>D2DCouries15@gmail.com</small>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<a href="#" class="btn btn-lg btn-primary back-to"><i class="fa fa-angle-double-up"></i></a>
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5  text-light" ><i class="fa fa-truck mr-2"></i> D2DCouriers</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="/service" class="nav-item nav-link text-light bg-light">Service</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->

   




    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <h2 class="text-primary text-uppercase font-weight-bold text-center">Cargo Storage</h2>
           
              
               
               
                   <div class="d-flex align-items-center pt-2">
                    <div class="col-lg-5 pb-4 pb-lg-0">
                        <img class="img-fluid w-100" src="img/wharehouse.jpg" alt="">
                        <div class="bg-primary text-dark text-center p-4">
                            <h3 class="m-0">7+ Years Experience</h3>
                        </div>

                 
                  </div>
                  <p>Warehousing is an extremely dynamic Logistics service, wherein each client demands a tailor made solution for his/her business model. Sasco can provide you with pro-active warehouse solutions to your logistics, freight forwarding, storage & distribution requirements that can be used as a competitive advantage for your business. Our efficient warehousing services includes receipt and delivery of cargo, dismantling of packing box, combination of boxes, cargo in storage control, distribution of cargo, packaging services as well as instant distribution of cargo to its destination. This value added services that helps our clients business and solving the logistic issues, hence we are able to offer healthy solutions that achieve speed to market.</p>
               
                </div>
                <br>
                  <ul><h5>Services offered</h5></ul>
                  <li>Airport and Seaport transit warehousing at Dubai Airport Freezone, Dubai Mainland, Jebel Ali Port & Freezone, Abu Dhabi, Sharjah, Ajman</li>
                  <li>Bonded warehousing</li>
                  <li>Warehousing for inventory management</li>
                  <li>Packaging and Labeling</li>
                  <li>Storage facilities Dry temperature coontrolled / Bulk & Open yard</li>

        </div>
    </div>

</div>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5 ">

<div class="col-lg-7 col-md-6 ">
    <div class="row ">
        <div class="col-md-6 mb-5">
            <h3 class="text-primary mb-4 ">Contact Our Agents</h3>
            
            <p><i class="fa fa-phone-alt mr-2"></i>+1 872 760 4332</p>
            <p><i class="fa fa-envelope mr-2"></i>D2DCouries15@gmail.com</p>
           
        </div>
    </div>
</div>


</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
<div class="row">
<div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
    <p class="m-0 text-white">&copy; <a href="#">D2DCouriers</a>. All Rights Reserved. 
    
</p>
</div>
<div class="col-lg-6 text-center text-md-right">
    <ul class="nav d-inline-flex">
        <li class="nav-item">
            <a class="nav-link text-white py-0" href="/privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white py-0" href="/terms">Terms</a>
        </li>
       
    </ul>
</div>
</div>
</div>

   
     
